html { /* normalization + general styling*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
}
.no-bullets {
    list-style-type: none;
}
/*buttons styling*/
.rounded-button {
    border-radius: 8px;
    margin: 4px 2px;
    text-decoration: none;
    display: inline-block;    
    text-align: center;
    padding: 14px 16px;
}
.rounded-button.hire {
    background-color: #283618;
    border: 2px solid #283618;
    color:white;
}
.rounded-button.read-more {
    background-color: white;
    border: 2px solid #283618;
    color:#283618;
}
/*start of navigation styling*/
nav {    
    margin: 0 auto;
    display: 100%;
    text-align: center;
}
nav a {
    color: #6B7280;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    overflow: hidden;
    border-bottom: 3px solid transparent; 
}
.flex-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.topnav a.active {
    background-color: #FEFAE0;
    color: #283618;
    border-bottom:3px solid #BC6C25;

  }
  /*doing pseudo-classes*/
.topnav a:hover {
    background-color: #FEFAE0;
    color: #283618;
}
a.hire:hover {
    background-color: #FEFAE0;
    border: 2px solid #283618;
    color:#283618;
}
a.read-more:hover{
    background-color: #283618;
    border: 2px solid #283618;
    color:white;
}
/* end of navigation styling*/
/* footer styling*/
.footer {
    position: relative;
    height: 400px;
    bottom: 0;
    margin: auto;
    bottom: 0;
    width: 100%;
    background-color: #FEFAE0;
    color: #6B7280;
    text-align: center;
  }

footer ul li a img{
    width:42px;
    height:42px;
    line-height:42px;
    padding:0 10px;
}
footer h2 {
    color: #606C38;
    padding-top: 50px;
}
/*.footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }*/
  
footer a:hover {
    opacity:0.7;
  }
footer br + p {
    padding-bottom: 50px;
}
footer p{
    padding-bottom: 30px;
}
/*end of footer styling*/

section.clients ul li a img {
    padding: 0 97px 100px 0;
    width: 50%;
    height: 50%;
    position:relative;
}
section.clients {
    background-color: #FEFAE0;
    text-align: center;
}
section.clients p{
    padding-top: 100px;
    position: relative;
    left: 127px;;
    padding-bottom: 20px;
    font-size: 20px;
    text-align: left;
    color: #6b7280;
}
section h2 {
    text-align: center;
    font-size: 48px;
}
section h1 {
    font-size: 72px;
}

.table-company {
    border:none;
    border-collapse:collapse;
    border-spacing:0;
    table-layout: fixed; 
    width: 100%;
}
.td {border-style:solid;border-width:0px;
    overflow:hidden;
    padding:10px 5px 80px 5px;
    word-break:normal;}
.table-company th{
    border-style:solid;border-width:0px;
    font-weight:normal;
    overflow:hidden;
    padding:10px 5px 80px 5px;
    word-break:normal;}
.table-company .table-company-boldtext{
    border-color:inherit;
    text-align:left;
    vertical-align:top;
    padding:10px 5px 80px 5px;
}
.table-company .table-company-usualtabletext{
    border-color:inherit;
    color:#6b7280;
    text-align:left;
    vertical-align:top;
    padding:10px 5px 80px 5px;
}
@media screen and (max-width: 767px) {
    .table-company {width: auto !important;}
    .table-company col {
        width: auto !important;}
        .table-company-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;}}

section.about-me {
    position: relative;
    padding-top: 226px;
    padding-left: 130px;
    padding-right: 130px;
    padding-bottom: 198px;
}
.aboutmeinfo h1+p {
    text-align: justify;
    max-width: 553px;
}
.flex-container-about-me {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: left;
    
}